.ServiceList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 80px;
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, rgb(255, 255, 255), rgba(0, 17, 255, 0.1));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(0, 17, 255, 0.1)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
