.Name {  
  text-align: center;

  h1 {
    font-family: "Tangerine-Regular";
    font-size: 4rem;
    margin: 30px 0 5px;
    font-weight: 500;
  }

  p {
    font-size: 1.15rem;
  }
}

@media only screen and (min-width: 768px) {
  .Name {
    h1 {
      font-size: 5rem;
    }
  }
}
