.Service {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 50px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
  background-color: white;
  opacity: 0;
  animation: displayService 2s 0.8s forwards;
  
  img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 5px 5px;
  }
}

.Service__body {
  padding: 0 10px 10px 10px;

  h1 {
    margin: 0;
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    list-style: none;
    padding-left: 30px;

    li {
      padding-bottom: 5px;
      text-align: center;

      &:before {
        content: '✓ ';
        margin-left: -20px;
      }
    }
  }
}

@keyframes displayService {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
  .Service {
    
  }
}

@media only screen and (min-width: 992px) {
  .Service {
    flex-direction: row;
    width: 45%;
    height: 230px;
    
    img {
      width: 45%;
      border-radius: 20px 3px 3px 20px;
    }

    .Service__body {
      h1 {
        text-align: left;
      }

      ul {
        align-items: flex-start;

        li {
          text-align: left;
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) {
  .Service {
    height: 250px;

    img {
      width: 60%;
    }
  }
}
