.Contact {
  font-size: 1.2rem;
  animation: displayMove 1s forwards;
  position: relative;
  
  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    
    li {
      display: flex;
      align-items: center;
      padding: 5px;
      margin: 0 30px;

      img {
        margin-right: 5px;
        position: relative;
        top: 1px;  
      }
    }  
  }

  .Contact__email {
    transition: all 1s;
    
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: black;
      
      img {
        position: relative;
        top: 2px;
        margin-right: 9px;
      }
    }
    
    &:hover {
      transform: scale(1.1);
    }
  }
}


@keyframes displayMove {
  from {
    top: 100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}