.App {
  min-height: 100vh;
  height: 100%;
}

.App__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 40%;
  padding-top: 20px;
  color: white;
  background-color: black;
}

.App__body {
  background-image: url('./assets/images/background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(gray, 0.07);
  
  &:hover {
    background: rgba(gray, 0.2);
  }
}
