.App {
  min-height: 100vh;
  height: 100%;
}

.App__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 40%;
  padding-top: 20px;
  color: white;
  background-color: black;
}